.friends_title {
    text-transform: uppercase;
    text-align: center;
    font-family: Inconsolata, sans-serif;
    color: #e2e1ff;
    margin-top: 25px;
}
/*span {*/
/*    margin-left: 200px;*/
/*}*/

